.second1{
    background-color: rgba(22, 22, 22, 0.876);
    width:100%;
    padding-bottom: 6rem;
    margin-bottom: -4rem;
}
.second2{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second3{
    margin: 1rem;
    width: 9rem;
    height: 3.5rem;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second3:hover{
    text-decoration: underline;
}
.second4{
    width: 9rem;
    height: 3.5rem;
}
.second5{
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif !important;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-shadow: 0 1px 8px rgba(0,0,0,0.2);
    line-height: 72px;
}
.second6{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
}
.second7{
    width:60%;
    box-shadow: 0px 3px 26px rgba(85, 85, 85, 0.925);
    border-radius: 4px;
    background-color: white;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second8{
    width: 60%;
    box-shadow: inset 0px 0px 5px 2px rgba(223, 223, 223, 0.708);
    border-radius: 4px;
    margin: .5rem 0;
    padding: 1rem 0;
    cursor: pointer;
}
.second8:hover{
    box-shadow: inset 0px 0px 5px 2px rgba(163, 163, 163, 0.802);
}
.second9{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.second10{
    display: none;
    margin: 1rem;
    opacity: .5;
}
.second11{
    display: none; 
    padding: 0 1rem;
}
.second12{
    width:1.2rem;
    height:1.2rem;
    margin: 0 1rem;
}
.second13{
    color: rgb(15, 15, 15);
    font-size: 15px;
    font-weight:400;
    line-height: 24px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.second14{
    display: flex;
    align-items: center;
}
@media screen and (max-width:500px){
    .second7, .second8{
        width:90%;
    }
    .second6{
        margin-bottom: 5rem;
    }
}