.six1{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.six2{
    box-shadow: inset 0 0 10px 1px rgba(159, 159, 159, 0.722);
    width: 90%;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: .5rem;
}
.six3{
    height: 1rem;
    width:1rem;
    margin: .7rem;
}
.six4{
    width:85%;
    margin: .75rem;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial,
      sans-serif !important;
    font-weight: 500;
    cursor: pointer;
}
.six5{
    box-shadow: 0px 3px 5px 2px rgba(189, 189, 189, 0.708);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-radius: 4px;
    transition: all .5s ease 0s;
    margin-top:.5rem;
    background-color: rgb(0, 157, 189);
    color: white;
}
.six5:hover {
    margin-bottom: .5rem;
    box-shadow: 1px 8px 10px 2px rgba(169, 169, 169, 0.708);
    margin-top: 0;
}
.six6{
    margin: .7rem;
}
.six7{
    height: 1.5rem;
    width: 1.5rem;
}
.six8{
    background-color: #f5c639cc;
    color: white;
    border: none;
    padding: 8px 6px;
    border-radius: 5px;
    transition: all .5s ease 0s;
}
.six9{
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    transform: scale(0.01);
    animation-name: ani1;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: ease;
}
.six10{
    height: 4px;
    width: 0;
    background-color: rgb(77, 180, 81);
    animation-name: ani2;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: ease;
}
.six11{
    visibility: hidden;
    animation-delay: .4s;
}
.six12{
    visibility: hidden;
    animation-delay: .8s;
}
.six13{
    visibility: hidden;
    animation-delay: 1.2s;
}
.six14{
    visibility: hidden;
    animation-delay: 1.6s;
}
.six15{
    visibility: hidden;
    animation-delay: 2s;
}
.six16{
    background-color: rgb(77, 180, 81);
    cursor: pointer;
    transition: all .5s ease 0s;
    transform: scale(1.1);
}
.six16:hover{
    margin-top: 4px;
    transform: scale(1.1);
    box-shadow: -1px -2px 10px 1px rgba(169, 169, 169, 0.708);
}
.six17{
    line-height: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #212121;
    font-weight: 700;
    font-size: 16px;
}
.six18{
    line-height: 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #212121;
}
.six19{
    margin: 1rem;
}
.six20{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border: 1px solid black;
    justify-content: center;
    border-radius: 5px;
}
.six21{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.six22{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    cursor: pointer;
}
.six23{
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin: .5rem 1rem;
    transform: rotate(-90deg);
    transition: all .5s ease 0s;
}
.six24{
    margin: .5rem 1rem;
}
.six25{
    margin: .5rem 1rem;
    opacity: .5;
}
.six26{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform .5s, height 0.5s;
    transform: scaleY(0);
    height: 0px;
    transform-origin: top;
}
.six27{
    float: left;
    width: 11rem;
    height: 11rem;
    border-radius: 5px;
    margin: 1rem;
}
.six28{
    width: 95%;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.six29{
    margin: 1rem;
}
.six29 p{
    line-height: 15px;
}
.six30{
    margin: 1rem;
}
.six30 p{
    line-height: 10px;
    font-size: 13px;
}
.six31{
    text-align: center;
}
.six32{
    margin: 1rem;
    width: 90%;
}
.six33, .six42{
    position: fixed;
    top: 100%;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%, 0);
    transition: all 1s ease 0s;
    width: 10cm;
    background-color: white;
    opacity: 0;
    z-index: 4;
    border-radius: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.six34{
    color: white;
    padding: .5rem;
    margin: 1rem;
    background-color: rgb(0, 157, 189);
    border-radius: 5px;
    transition: all .5s ease 0s;
    cursor: pointer;
}
.six34:hover{
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    box-shadow: 1px 5px 7px 3px rgba(168, 168, 168, 0.708);
}
.six35{
    max-height: 8cm;
    overflow: auto;
    margin: .7rem;
}
.six35::-webkit-scrollbar{
    width: 6px;
}
.six35::-webkit-scrollbar-track{
    background-color: #e2e2e2;
    border-radius: 6px;
}
.six35::-webkit-scrollbar-thumb{
    background-color: rgb(173, 173, 173);
    border-radius: 6px;
}
.six37{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transform: scale(0);
    transition: all .5s ease 0s;
}
.six38{
    margin: 0 .5rem;
    float: right;
}
.six39{
    display: flex;
    justify-content: center;
}
.six40{
    color: white;
    border-radius: 5px;
    margin: 1rem;
    background-color: #343434;
    padding: .5rem 1rem;
    transition: all .5s ease 0s;
    cursor: pointer;
}
.six41{
    color: white;
    border-radius: 5px;
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: rgb(77, 180, 81);
    transition: all .5s ease 0s;
    cursor: pointer;
}
.six41:hover{
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    box-shadow: 1px 5px 7px 3px rgba(168, 168, 168, 0.708);
}
.six44{
    margin: .5rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif !important;
    font-size: 17px;
    line-height: 30px;
    color: #555;
    font-weight: 600;
}
.six45{
    width: 85%;
    margin: .5rem;
    border-radius: 4px;
    box-shadow: inset 0px 0px 10px 2px rgba(163, 163, 163, 0.802);
    height: 2.3rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #555;
    border: 1px solid gray;
    outline: none;
    padding: 0 .5rem;
}
.six45[type="file"]::-webkit-file-upload-button{
    visibility: hidden;
}
.six46{
    max-height: 10cm;
}
.six47{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}
.six48{
    border: 1px solid rgb(76, 76, 76);
    border-radius: 50%;
    width: .7rem;
    height: .7rem;
    margin: 4px .7rem;
    transition: all .5s ease 0s;
    cursor: pointer;
}
.six49{
    width: 5rem;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px 2px rgba(163, 163, 163, 0.802);
    height: 1.5rem;
    border: 1px solid gray;
    outline: none;
    margin: 6px 1rem;
    cursor: pointer;
}
.six50{
    display: flex;
    align-items: center;
}
.six51{
    display: none;
}
.six52{
    width: 81px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px 2px rgba(163, 163, 163, 0.802);
    height: 24px;
    border: 1px solid gray;
    background-color: rgba(201, 201, 201, 0.479);
    outline: none;
    margin: 6px 1rem;
}
.six53{
    margin: 0 4px;
}
.six54{
    width:3rem;
}
.six55{
    display: none;
}
.six56{
    visibility: hidden;
    height: 0;
    animation: height .5s ease .5s 1 forwards;
}
.six57{
    min-width: 80%;
    max-width: 80%;
    margin: 1rem .5rem;
    border-radius: 4px;
    box-shadow: inset 0px 0px 10px 2px rgba(163, 163, 163, 0.802);
    height: 8rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #555;
    border: 1px solid gray;
    outline: none;
    padding: 0 1rem;
}
@keyframes height {
    from{
        transform: scaleY(0);
    }
    to{
        visibility: visible;
        height: 84.13px;
        transform: scaleY(1);
    }
}
@keyframes ani1 {
    to{
      transform: scale(1);
    }
  }
@keyframes ani2 {
    to{
      width:100%;
    }
}
@media screen and (max-width: 500px)  {
    .six1{
        display: none;
    }
    .six19{
        width: 95%;
        border-top: 2px solid #c3c3c3;
    }
    .six22{
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        height: 1.7rem;
    }
    .six27{
        width:9rem;
        height: 9rem;
    }
    .six29{
        width: 95%;
        border-bottom: 2px solid #c3c3c3;
        padding-bottom: 1rem;
        margin-top: 0rem;
    }
    .six30{
        margin-top: .5rem;
        margin-bottom: 0rem;
    }
    .six30 p{
        font-size: 14px;
    }
    .six32{
        padding-top: 1.5rem;
        border-top: 2px solid #c3c3c3;
    }
    .six33{
        width: 9cm;
    }
    .six42{
        width: 9cm;
    }
    .six48{
        margin: 4px .7rem;
    }
    .six49{
        margin: 4px .5rem;
    }
    .six52{
        margin: 4px .5rem;
    }
    .six54{
        width:2.5rem;
    }
}
